* {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.jumbotron {
    text-align: center;
    justify-content: center;
    border: 5px solid #F2D377;
    border-radius: 1%;
}

h2 {
    padding-top: 5px;
}

.navbar-brand {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.ready,
.devoured,
.new,
.burgerPic {
    background-color: #ffffff;
    opacity: .97;
    margin: auto;
}

.chomp-btn {
    background-color: #8C0D24;
    font-weight: bold;
    color: #F2D377;
    border: 3px solid #F2D377;
}

.form-control {
    border: 1px solid #545454;
}

.orderUp {
    background-color: #0A6ABF;
    color: #F2D377;
    border: 3px solid #F2D377;
    font-weight: bold;
}

.burgerPic img {
    width: 95%;
    height: auto;
    margin: auto;
}

#burgOfDay,
#devoured {
    text-align: center;
    font-weight: bold;
}